@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&family=Teko:wght@500&display=swap');

body{
    background-color: rgb(34, 34, 34);
    margin:0;
}
.price{color:aliceblue;
    font-family: "Teko";
    font-size: 64px;
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
}

#header{
   background-color: rgb(8, 8, 8); 
   display: flex;
}
.top-cur-block{
    margin-top:auto;
    margin-bottom:auto;
    display:flex;
}
.logo{
    margin-left: 50px;
}
.text{
    color:aliceblue;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
}
.input-group{
    margin-bottom: 10px;
    border: 1px solid #adb5bd;
    width: 120px;
    background-color: #83B925;
    font-size: 24px;
    border: 3px solid white;
    border-radius:6px;
}
.adapt-quantity{height: 40px; width: 40px;
;
}

.hash-adapt span{
    min-width: 70px;
    max-width: 65px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border: 1px solid red;
    width: 66px;
    height: 40px;
}


#mainlogo{margin-right: 50px;
    margin-left:40px;}
#main-section{margin-top:40px;
    margin-left:40px;}

    .adapter{
        display: inline-flex;
        flex-wrap: nowrap;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .adapter-qty{
        border-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 4px solid whitesmoke;
        height:50px;
        padding: 0;
        border-right:none;
        width: 48px;
        font-size: 24px;
        text-align: center;
    }
    .adapter-btn{
        border-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 4px solid whitesmoke;
        border-left:none;
        background-color: #83B925;
        height: 50px;
        width: 120px;
        padding: 0;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;

    }
    .adapt-quantity .adapter-btn {
        border-radius: 8px;
    }

    .adapter-btn:hover{
        background-color: #71a714;
    }

    #provider{
     
        font-size: 22px;
        border: 4px solid whitesmoke;
        height: 50px;
        border-radius: 12px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        overflow-y: auto;
        width: 164px;
        text-align: center;
        font-weight: bold;
        background-color: #83B925;
    }

    #provider:hover{
        background-color: #71a714;
    }

    
  